/*  your css code here. If applicable */
.container{
	padding: 25px;
	background-color:  #f5f5f5;
}
#div1, #div2{
	border: solid lightgray 1px;
	background-color: white;
	padding: 5px;
	margin: 10px;
}
#div1 p:last-child, #div2 p:last-child{
	text-align: right;
	font-style: italic;
}